// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  display: flex;
}

.box {
  color: white;
  background-color: rgb(43, 152, 211);
  margin: 5px 5px ;
  padding: 0 20px;
  font-size: large;
  font-weight: bold;
  box-shadow: 2px 2px 2px rgb(179, 178, 178);
}
